html,
body {
  width: 100%;
  font-size: 20px;
}

/* To ensure the iframes don't get scrollbars */
html {
  overflow: hidden;
}

.container {
  width: calc(2em * 9);
  height: calc(2em * 16);
  margin: auto;
  overflow: hidden;
  padding: 0;
}

.container {
  background-color: white;
  margin-bottom: 2em;
}

.header {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.content {
  margin: 1em;
}

.preview {
  height: 4em;
  width: 7em;
  object-fit: cover;
  display: block;
}

.aggregatorRow {
  display: flex;
  align-items: center;
}

.aggregatorRow p {
  margin-left: 0.5em;
}

h1,
h2,
h3 {
  text-align: center;
}